   /* NAVBAR RESPONSIVE STARTS HERE */
   /* For Medium Device */

    @media screen and (min-width: 577px) and (max-width:992px) {
    .nav-div {
        margin-left: 40px;
        margin-right: 40px;
    
    }
 }

  /* For Small Device */

    @media screen and (max-width:576px) {
    
    .nav-div {
        font-weight: 700;
        font-size: 3rem;
        margin-left: 40px;
        margin-right: 60px;
    }

    .nav-div h4 {
        font-size: 3.5rem;
        font-weight: 800;
    }
    .nav-ul {
        display: none;

    }

    .nav-hamburger-menu {
        display: block;
    }
    }
    /* NAVBAR RESPONSIVE ENDS HERE */


  /* BANNER SECTION RESPONSIVE STARTS HERE  */
  /* For Medium Device */

    @media screen and (min-width: 577px) and (max-width: 992px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-content {
        margin-left: -20%;
    }

    .transparent-btn2 {
        margin-left: -46%;
    }

    .btn2-span {
        font-size: 3rem;
    }
    
 }


  /* For Small Device */

    @media screen and (max-width: 576px) {
    .banner {
        flex-direction: column;
    }


    .banner-content > h1 {
        font-size: 4.7rem;
    }
        
    

    .banner-image img  {
        width: 70%;
        margin-left: 120px;
    
    }

    .ban-circle {
        display: none;
    }

    
    .ban-icon-circle {
        width: 40%;
        margin-left: -120px;
        margin-top: -65px;
        display: block;
    }

    

    

    .transparent-btn1 {
        right: 55%;
    }

    .transparent-btn1-content {
        margin-top: -10px;
    }



  }
   /* BANNER SECTION RESPONSIVE ENDS HERE */



   /* CHANGE HABIT SECTION STARTS HERE  */
   /* For Medium Device */
    @media screen and (min-width:577px) and (max-width: 992px) {
    .ch-images-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .change-habit-container {
        width: max-content;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        
      }
    }


    /* For Small Device */

    @media screen and (max-width: 576px) {
    .ch-images-container {
        flex-direction: column;
    }

       .change-habit-container {
        width: max-content;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        
      }   

      .change-habit-container-text > p {
        font-size: 0.7rem;

      }
    }
   /* CHANGE HABIT SECTION ENDS HERE */



   /* RUN SECTION STARTS HERE */
   /* For Medium Device  */
    @media screen and (min-width: 577px) and (max-width:992px) {
    .run-container-div {
        width: max-content;
        margin-left: 100px;
        
    }

    .team-info-container {
        margin-left: 25px;
    
    }

    .info-con h5 {
        margin-left: 60px;
    }

    .info-con p {
        margin-left: 60px;
    }

    .run-content {
        padding-left: 0px;
        margin-right: -90px;
    }


}

   /* For Small Device */

    @media screen and (max-width: 576px) {
    .run-container-div {
        width: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }


    .run-image {
        margin-top: 20px;
    }

}
   /* RUN SECTION ENDS HERE */


   /* TRAININGS AND EXERCISE SECTION STARTS HERE */
   /* For Medium Device */
    @media screen and (min-width: 577px) and (max-width: 992px) {
    .trn-exe-con {
        width: 800px;
    }
    
    .trn-exe-grid-con {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }    
    
    .item-2 {
        grid-column: span 1;
    }
    .item-4 {
        grid-column: span 1;
    }

    .it-4 > p {
        margin-left: 10px;
        margin-top: 150px;
      }

}

/* For Small Device */
    @media screen and (max-width: 576px) {
    .trn-exe-con {
        width: max-content;
    }


    .trn-exe-grid-con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 

    .item-2 {
        grid-column: span 1;
    }
    .item-4 {
        grid-column: span 1;
    }

    .item-3 , .item-6 {
        display: none;
    }

    
    #one {
        display: none;
    }

    .common-h6 {
       display: block; 
    }

    .trn-exe-content > h2 {
        font-size: 2rem;
    }

    .trn-exe-content > P {
        font-size: 0.8rem;
    }
    
}
    /* TRAININGS AND EXERCISE SECTION ENDS HERE */
   


    /* BMI CALCULATOR SECTION STARTS HERE */
    /* For Medium Device */
    @media screen and (min-width: 577px) and (max-width: 992px) {
        .cal-field-con {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 88px;
        }

        .bmi-cal-content > h2 {
            font-size: 2.5rem;
            text-align: left;
            margin-left: 88px;
        }
        .bmi-cal-content > p {
            text-align: left;
            margin-left: 88px;
        }


        }


    /* For Small Device */
    @media screen and (max-width: 576px) {
        .cal-field-con {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 88px;
        }

        .bmi-cal-content > h2 {
            font-size: 2.5rem;
            text-align: left;
            margin-left: 88px;
        }
        .bmi-cal-content > p {
            text-align: left;
            margin-left: 80px;
            font-size: 0.6rem;
        }

        .bmi-field > p {
            font-size: 0.7rem;
        }
    }
    /* BMI CALCULATOR SECTION ENDS HERE */


    /* MEET TEAM SECTION STARTS HERE */
    /* For Medium Device  */
    @media screen and (min-width: 577px) and (max-width: 992px)  {
        .meet-team-cont {
            width: 800px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .team-info-container {
            width: 100%;
            padding: 20px;
            justify-content: center;
        }
        
        .team-info-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

        } 
    }

    /* For Small Device */
    @media screen and (max-width: 576px) {
        .meet-team-cont {
            width: max-content;
            
        }

        .meet-team-content > p {
            font-size: 0.6rem;
        }

        .team-info-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
    }
}
    /* MEET TEAM SECTION ENDS HERE */


    /* FOOTER SECTION STARTS HERE */
    /* For Medium Device  */
    @media screen and (min-width: 577px) and (max-width: 992px) {
        .ftr-contnr {
            flex-direction: column;
            margin-left: 40px;
            align-items: center;
            /* align-items: flex-start; */
        }

        #footer-p  {
            margin-left: 300px;
        }

        .main-footer-contnr hr {
            width: 700px;
        }
    }


    /* For Small Device */
    @media screen and (max-width: 576px) {
        .ftr-contnr {
            flex-direction: column;
        }

        .right-footer-div {
            flex-direction: column;
            gap: 52px;
            width: max-content;
            margin-left: -150px;

        }

        #footer-p  {
            margin-left: 110px;

        }

        .left-footer-div {
            width: max-content;
            margin-left: -120px;
        }

        .main-footer-contnr hr {
            margin-left: 80px;
            width: 350px;
        }


    }
    /* FOOTER SECTION ENDS HERE */
    
