/* NAVBAR RESPONSIVE */

/* For Medium Device */

.nav-div {
    margin-left: 40px;
    margin-right: 40px;
}

/* For Small Device */

@media screen and (max-width:576px) {
    
    .nav-div {
        font-weight: 700;
        font-size: 3rem;
        margin-left: 30px;
        margin-right: 30px;
    }

    .nav-div h4 {
        font-size: 3.5rem;
        font-weight: 800;
    }
    .nav-ul {
        display: none;

    }

    .nav-hamburger-menu {
        display: block;
    }
    }


/* BANNER SECTION RESPONSIVE  */

/* For Medium Device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        flex-direction: column;
    }
    
}


/* For Small Device */

@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column;
    }

    /* .banner-content { */
        
    }

    .banner-image img  {
        width: 70%;
        margin-left: 120px;
    
    }

    .ban-circle {
        display: none;
    }

    .ban-icon-circle {
        display: block;
    
    }

    .transparent-btn1 {
        right: 55%;
    }
    
}

