/* NAVBAR RESPONSIVE STARTS HERE */
/* For Medium Device */

    @media screen and (min-width: 577px) and (max-width:992px) {
    .nav-div {
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* For Small Device */

    @media screen and (max-width:576px) {
    
    .nav-div {
        font-weight: 700;
        font-size: 3rem;
        margin-left: 30px;
        margin-right: 30px;
    }

    .nav-div h4 {
        font-size: 3.5rem;
        font-weight: 800;
    }
    .nav-ul {
        display: none;

    }

    .nav-hamburger-menu {
        display: block;
    }
    }
    /* NAVBAR RESPONSIVE ENDS HERE */


/* BANNER SECTION RESPONSIVE STARTS HERE  */
/* For Medium Device */

    @media screen and (min-width: 577px) and (max-width: 992px) {
    .banner {
        flex-direction: column;
    }
    
}


/* For Small Device */

    @media screen and (max-width: 576px) {
    .banner {
        flex-direction: column;
    }

    /* .banner-content { */
        
    

    .banner-image img  {
        width: 70%;
        margin-left: 120px;
    
    }

    .ban-circle {
        display: none;
    }

    
    .ban-icon-circle {
        width: 40%;
        margin-left: -120px;
        margin-top: -65px;
        display: block;
    }

    

    

    .transparent-btn1 {
        right: 55%;
    }

    .transparent-btn1-content {
        margin-top: -10px;
    }



}
/* BANNER SECTION RESPONSIVE ENDS HERE */



/* CHANGE HABIT SECTION STARTS HERE  */
/* For Medium Device */
    @media screen and (min-width:577px) and (max-width: 992px) {
    .ch-images-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .change-habit-container {
        width: max-content;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        
      }
    }


/* For Small Device */

    @media screen and (max-width: 576px) {
    .ch-images-container {
        flex-direction: column;
    }

       .change-habit-container {
        width: max-content;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        
      }   
    }
/* CHANGE HABIT SECTION ENDS HERE */



/* RUN SECTION STARTS HERE */
/* For Medium Device  */
    @media screen and (min-width: 577px) and (max-width:992px) {
    .run-container-div {
        width: max-content;
        margin-left: 80px;
    }
    .run-content {
        padding-left: 0px;
        margin-right: -90px;
    }


}

/* For Small Device */

    @media screen and (max-width: 576px) {
    .run-container-div {
        width: max-content;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 40px;
        
    }


    .run-image {
        margin-top: 20px;
    }

}
/* RUN SECTION ENDS HERE */


/* TRAININGS AND EXERCISE SECTION STARTS HERE */
/* For Medium Device */
    @media screen and (min-width: 577px) and (max-width: 992px) {
    .trn-exe-con {
        width: 800px;
    }
    
    .trn-exe-grid-con {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }    
    
    .item-2 {
        grid-column: span 1;
    }
    .item-4 {
        grid-column: span 1;
    }

    .it-4 > p {
        margin-left: 10px;
        margin-top: 150px;
      }

}

/* For Small Device */
    @media screen and (max-width: 576px) {
    .trn-exe-con {
        width: max-content;
    }


    .trn-exe-grid-con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 

    .item-2 {
        grid-column: span 1;
    }
    .item-4 {
        grid-column: span 1;
    }

    .item-3 , .item-6 {
        display: none;
    }

    
    #one {
        display: none;
    }

    .common-h6 {
       display: block; 
    }
    
}
    /* TRAININGS AND EXERCISE SECTION ENDS HERE */


    /* MEET TEAM SECTION STARTS HERE */
    @media screen and (min-width: 577px) and (max-width: 992px)  {
        .meet-team-cont {
            width: 800px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .team-info-container {
            width: 100%;
            padding: 20px;
            justify-content: center;
        }
        
        .team-info-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

        } 
    }

    /* For Small Device */
    @media screen and (max-width: 576px) {
        .meet-team-cont {
            width: max-content;
        }

        .team-info-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
    }
}
/* MEET TEAM SECTION ENDS HERE */
    
