

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
               

/* SHARED STYLES */
.d-flex {
  display: flex
}


body {
  max-width: 1440px;
  margin: 0 auto;
}

/* NAVBAR STARTS HERE */

.nav-div {
  max-width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
}


.nav-div h4 {
  color: rgba(230, 83, 60, 1);
  font-weight: 900;
  font-size: 2.25rem;
  font-style: italic;
}

.nav-ul {
  color: rgba(255, 255, 255, 1);
  justify-content: space-around;
  list-style: none;
  gap: 47px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 10px;
  
}

.nav-ul li {
  font-size: 1.125rem;
  font-weight: 400;
}

.nav-btn {
  font-weight: 600;
  font-size: 1.125rem;
  padding: 8px 12px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 46px;
  width: 92px;
  height: 38px;
  border: none;
  color: rgba(255, 255, 255, 1);
  margin-top: -6px;
  
}

.nav-hamburger-menu {
  display: none;
}

/* NAVBAR ENDS HERE */


/* BANNER SECTION STARTS HERE */

.banner-sec {
  background-color: rgba(19, 18, 18, 0.986);

  }

.banner {
  justify-content: space-between;

}  

.banner-content {
  margin-left: 10%;
}

.banner-content h1 {
  font-weight: bolder;
  font-size: 4.9rem;
  color: rgba(255, 255, 255, 1);
  width: 520px;
  height: 282px;
  line-height: 120%;
  }

#ban-shape-span {
  font-weight: 400;
  font-size: 6rem;
  font-family: 'Miama', sans-serif;
  }  

.banner-content p {
  width: 520px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.btn-div {
  
}

.banner-btn-first {
  width: max-content;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: rgba(230, 83, 60, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 42px;
  padding: 10px 25px;
  border: none;

}

.banner-btn-second{
  width: max-content;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: rgba(34, 34, 34, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 42px;
  padding: 10px 25px;
  border: none;
}

.banner-image img {
  width: 100%;
}

.banner-image {
  margin-right: 8%;
  position: relative;
}



.transparent-btn1 {
  background-color: rgba(97, 96, 96, 0.575);
  color: white;
  width: 206px;
  height: 96px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  position: absolute;
  top: 75%;
  right: 70%;
  border: none;
  filter: blur(0.7px);

  }

.ban-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  position:fixed;
  margin-top: -50px;
}  

.ban-icon-circle {
  width: 40%;
  display: none;
  margin-left: -120px;
  margin-top: -65px;
}







.btn1-span {
  font-weight:600;
  font-size: 1.5rem;
}

.transparent-btn2 {
  background-color: rgba(66, 63, 63, 0.63);
  color: white;
  width: 193px;
  height: 96px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  position: absolute;
  top: 19%;
  margin-left: -40%;
  border: none;
  filter: blur(0.7px);
  
}


.btn2-span {
  font-weight:600;
  font-size: 1.5rem;
}


/* BANNER SECTION ENDS HERE */
