

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
               

/* SHARED STYLES */
.d-flex {
  display: flex
}

.bg-color {
  background-color: rgba(0, 0, 0, 1);
}

.bg-color-2 {
  background-color: rgba(19, 18, 18, 0.986);
}


body {
  max-width: 1440px;
  margin: 0 auto;
}

/* NAVBAR STARTS HERE */
.nav-div {
  max-width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
}


.nav-div h4 {
  color: rgba(230, 83, 60, 1);
  font-weight: 900;
  font-size: 2.25rem;
  font-style: italic;
}

.nav-ul {
  color: rgba(255, 255, 255, 1);
  justify-content: space-around;
  list-style: none;
  gap: 47px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 10px;
  
}

.nav-ul li {
  font-size: 1.125rem;
  font-weight: 400;
}

.nav-btn {
  font-weight: 600;
  font-size: 1.125rem;
  padding: 8px 12px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 46px;
  width: 92px;
  height: 38px;
  border: none;
  color: rgba(255, 255, 255, 1);
  margin-top: -6px;
  
}

.nav-hamburger-menu {
  display: none;
}
/* NAVBAR ENDS HERE */


/* BANNER SECTION STARTS HERE */
.banner {
  justify-content: space-between;

}  

.banner-content {
  margin-left: 10%;
}

.banner-content h1 {
  font-weight: bolder;
  font-size: 4.9rem;
  color: rgba(255, 255, 255, 1);
  width: 520px;
  height: 282px;
  line-height: 120%;
  }

#ban-shape-span {
  font-weight: 400;
  font-size: 6rem;
  font-family: 'Miama', sans-serif;
  }  

.banner-content p {
  width: 520px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.btn-div {
  
}

.banner-btn-first {
  width: max-content;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: rgba(230, 83, 60, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 42px;
  padding: 10px 25px;
  border: none;

}

.banner-btn-second{
  width: max-content;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: rgba(34, 34, 34, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 42px;
  padding: 10px 25px;
  border: none;
}

.banner-image img {
  width: 100%;
}

.banner-image {
  margin-right: 8%;
  position: relative;
}



.transparent-btn1 {
  background-color: rgba(97, 96, 96, 0.575);
  color: white;
  width: 206px;
  height: 96px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  position: absolute;
  top: 75%;
  right: 70%;
  border: none;
  filter: blur(0.7px);

  } 

.btn1-span {
  font-weight:600;
  font-size: 1.5rem;
}




.ban-icon-circle {
  display: none;
} 

.ban-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  position:fixed;
  margin-top: -50px;
 } 




.transparent-btn2 {
  background-color: rgba(66, 63, 63, 0.63);
  color: white;
  width: 193px;
  height: 96px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  position: absolute;
  top: 19%;
  margin-left: -35%;
  border: none;
  filter: blur(0.7px);
  
}


.btn2-span {
  font-weight:600;
  font-size: 1.5rem;
}
/* BANNER SECTION ENDS HERE */


/* CHANGE HABIT SECTION STARTS HERE */

/* .change-habit-sec {
  margin: 0;
  padding: 0;
} */

.change-habit-container {
  width: 1044px;
  padding-top: 95px;
  margin-left: auto;
  margin-right: auto;
  
}


.change-habit-container-text h2 {
  font-weight: 700;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
  font-style: italic;
  text-align: center;
}

.change-habit-container-text p {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: -20px;
}


.ch-images-container {
  justify-content: center;
    align-items: center;
    gap: 30px;
}

.imge-info {
  align-items: center;
  
}

.ch-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}

.ch-image {
  object-fit: cover;
  overflow: hidden;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.ch-content {
  text-align: center;
  width: 231px;
}

.ch-content h5 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.125rem;
  font-weight: 600;
}

.ch-content p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: -25px;
}
/* CHANGE HABIT SECTION ENDS HERE */


/* RUN SECTION STARTS HERE */
.run-container-div {
  justify-content: space-between;
  width: 1060px;
  background-color: rgba(34, 33, 33, 0.89);
  margin-top: 95px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.run-content {
  padding-left: 54px;
}

.run-content h2 {
  font-weight: bolder;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
  
}

.run-content p {
  width: 443px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.9rem;
}

.run-content button {
  font-weight: 600;
  font-size: 1.125rem;
  padding: 4px 8px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 46px;
  width: 224px;
  height: 54px;
  border: none;
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
}

.run-image {
  width: 366px;
  height: 312px;
}
.run-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
/* RUN SECTION ENDS HERE */


/* TRAININGS AND EXERCISE SECTION STARTS HERE */
.trn-exe-con {
  width: 1060px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  
}

.trn-exe-content > h2 {
  font-weight: bolder;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
}

.trn-exe-content > p {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

.trn-exe-grid-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 10px; */
}

.item-1 {
  background-image: url('../images/exercise1.jpg');

}
.item-2 {
  background-image: url('../images/exercise2.png');
  grid-column: span 2;
}
.item-3 {
  background-image: url('../images/exercise3.png');
}
.item-4 {
  background-image: url('../images/exercise4.png');
  grid-column: span 2;
}
.item-5 {
  background-image: url('../images/exercise5.jpg');
}
.item-6 {
  background-image: url('../images/exercise6.jpg');
  grid-column: span 1.5;
}




.grid-item {
  position: relative;
  height: 201.5px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
}

.text-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  color: rgba(255, 255, 255, 1);
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px;
  

}

.it-1 {
  background-color: rgba(6, 255, 210, 0.5);

}

.it-1 > p {
  margin-top: 150px;
  color: black;
  font-weight: bolder;
}
.it-2 {
  background-color: rgba(255, 0, 0, 0.3);
}
.it-3 {
  background-color: rgba(0, 0, 0, 0.5);
 }

.it-3 > p {
  margin-top: 150px;
} 
.it-4 {
  background-color: rgba(0, 0, 0, 0.5);
  
}

.it-4 > p {
  margin-left: 280px;
}
.it-5 {
  background-color: rgba(66, 255, 0, 0.3);
}

.it-5 > p {
  margin-top: 150px;
  margin-left: 10px;
}
.it-6 {
  background-color: rgba(0, 71, 255, 0.3);
}

.it-6 > p {
  margin-top: 150px;
}

.common-h6 {
  color: white;
  text-align: center;
  align-items:center;
  font-weight: 600;
  font-size: 1.5rem;
  display: none;
  }


/* TRAININGS AND EXERCISE SECTION ENDS HERE */

/* BMI CALCULATOR SECTION STARTS HERE */
.bmi-calculator-div {
  margin-top: 88px;

}

.bmi-cal-content > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
}

.bmi-cal-content > p {
  text-align: start;
  margin-left: 510px;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}


.cal-field-con {
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 185px;
  background-color: rgba(34, 34, 34, 1);
  margin-top: 88px;
  padding-bottom: 30px;
}

.bmi-cal-chart {
  margin-top: 38px;
}


.bmi-table {
  width: 310px;
  margin: ;
  border-collapse: collapse;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.bmi-table th, .bmi-table td {
  padding: 8px;
  border: 1px solid #363434;
}

.bmi-caption {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 45px;
  color: rgba(255, 255, 255, 1);
}


.bmi-field {
  width: 577px;

}

.bmi-field > h4 {
  font-weight: bold;
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 1);
}
.bmi-field > p {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: -30px;
  color: rgba(255, 255, 255, 0.5);
}

.bmi-field button {
  font-weight: 600;
  font-size: 1.125rem;
  padding: 4px 2px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 46px;
  width: 224px;
  height: 54px;
  border: none;
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
  margin-left: 10px;
}


.bmi-cal-fld {
  margin-top: 49px;
  margin-right: 189px;
}



form {
  width: 100%;
  /* margin: 20px auto; */

}

fieldset {
  /* border: 1px solid #000; */
  padding: 10px;
  /* margin-bottom: 10px; */
  border: none;
}

.bmi-form-field {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 400;
  color: white;
  background-color: rgb(53, 51, 51);
  
}

select {
  /* background-color: rgb(53, 51, 51); */
  color: rgba(255, 255, 255, 0.6);
}
/* BMI CALCULATOR SECTION ENDS HERE */




/* MEET TEAM SECTION STARTS HERE */
.meet-our-team {
  padding-bottom: 80px;
}

.meet-team-cont {
  width: 1060px;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
}

.team-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 58px;
}

.meet-team-content > h2 {
  font-weight: bolder;
  font-size: 3rem;
  /* color: rgba(255, 255, 255, 1); */
  color: rgba(255, 255, 255, 1);
  text-align: center;
}



.meet-team-content > p {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  /* color: rgba(255, 255, 255, 0.5); */
  text-align: center;
  margin-top: -30px;
}

.info-con h5 {
  margin-top: 210px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 1);
}

.info-con p {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 20px;
  margin-top: -30px;
}





.info-item-1 {
  background-image: url('../images/trainer1.png');
  
}
.info-item-2 {
  background-image: url('../images/trainer2.png');
}
.info-item-3 {
  background-image: url('../images/trainer3.png');
}

.info-item-4 {
  background-image: url('../images/trainer4.png');
  
  
  
}
  
.info-item-5 {
  background-image: url('../images/trainer5.png');
}  

.info-item-6 {
  background-image: url('../images/trainer6.png');
}

.image-info-con {
  position: relative;
  width: 327px;
  height: 272px;
  background-size:cover;
  /* object-position: center; */
  /* object-fit: cover; */
  background-position: center;
  overflow: hidden;
  border-radius: 18px;
  
  }




.info-con {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-size: 1.25rem;
  font-weight: 500;
}
/* MEET TEAM SECTION ENDS HERE */


/* FOOTER SECTION STARTS HERE */
.footer-sec {
  background-color: rgba(34, 34, 34, 1);
}

.main-footer-contnr {
  padding-top: 60px;
  padding-bottom: 30px;
}


.main-footer-contnr hr {
  width: 1060px;
  margin-top: 60px;
}
#footer-p {
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 500px;
  margin-bottom: -10px;

}

.ftr-contnr {
  display: flex;
  justify-content: space-between;
  margin-left: 190px;
  margin-right: 191px;
  padding-top: 5px;


}




.left-footer-div {
  width: 443px;
  margin-top: -50px;
}
.left-footer-div h2 {
  font-weight: bolder;
  font-size: 4.4rem;
  color: rgba(230, 83, 60, 1);
  font-style: italic;
}
.left-footer-div p {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: -50px;
}

.right-footer-div {
  display: flex;
  justify-content: space-between;
  width: 514px;
  gap: 152px;
 
}

.right-footer-div ul li {
  list-style: none;
  line-height: 30px;
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  
}
#main-li {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1)
}

/* FOOTER SECTION ENDS HERE */






